extends layout

block variables
	-BLOGPAGE = true;

block content
	// Navbar
	include ./includes/navbar
	// Page Header
	include ./includes/header
	// Main Content
	include ./includes/main
	hr
	// Footer
	include ./includes/footer