extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		a(href="/blog") SportsBlog
	br
	div
		a(href="/quotes") Quotes
	br
	div
		a(href="/mail") Send mail
	br
	div
		a(href="/users") Users
	br
	div
		a(href="/about") About
	br
